/*-------按钮（隐藏）--------*/
#nav button{
  display:none;
}
#nav h1{
  color:DeepSkyBlue;
}

/*------nav导航栏--------*/
#navbtn{
  display:inlne-block;
  margin:o auto;
  text-align:right;
  color:DeepSkyBlue;
}


#navbtn a{
  display:block;
  text-align:center;
}

#navbtn ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

#navbtn li{
  display:inline-block;
}
.type{
  color:DeepSkyBlue;
}

/*-----卡片个人简介-----*/
.mancard{
  float:right;
  display:block;
  width:20%;
  margin-top:20%;
  height:auto;
  margin-right:5%;
  margin-bottom:15px;
  background-color:rgba(0,191,255,0.3);
}
.mancard h2{
  margin-top:25px;
  display:block;
  color:DeepSkyBlue;
  text-align:center;
}
.mancard p{
  display:block;
  margin-bottom:25px;
  color:White
}

/*----博客卡片简介----*/
.card{
  margin-top:5%;
  display:block;
  width:65%;
  margin-left:10%;
  height:auto;
}

.ttl{
  margin-top:1%;
  height:auto;
  border-color:White;
  border-width:1px;
  border-style:solid;
  float:left;
  display:inline-block;
  background-color:rgba(255,255,255,0.3);
  width:90%;
}
.ttl p{
text-align:left;
  margin:0;
  color:White;
}

.ttl a{
  width:100%;
  display:block;
  text-align:center;
  color:DeepSkyBlue;
  font-size:100%;
}

.day{
  display:none;
}

/*----底栏----*/
.ft p{
  display:block;
  text-align:center;
  font-size:25px;
  color:White;
}
