html{
  width:100%;
  height:100%;
}

html.body{
  width:100%;
  height:100%;
}

body{
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  position:absolute;
  width:100%;
  height:auto;
  background:url("../imgages/bg2.jpg") no-repeat;
  background-size:100%;
  background-attachment:fixed;
}

a:hover{
  text-decoration:none;
  color:DeepSkyBlue;
}

a:link{
  text-decoration:none;
  color:DeepSkyBlue;
}

a:visited{
  text-decoration:none;
  color:DeepSkyBlue;
}

a:active{
  text-decoration:none;
  color:Red;
}

