/*-------按钮（隐藏）--------*/
#nav button{
  display:none;
}
#nav h1{
  color:DeepSkyBlue;
}

/*------nav导航栏--------*/
#navbtn{
  display:inlne-block;
  margin:0 auto;
  text-align:right;
  color:DeepSkyBlue;
}


#navbtn a{
  display:block;
  text-align:center;
}

#navbtn ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

#navbtn li{
  display:inline-block;
}
.type{
  color:DeepSkyBlue;
}

/*-----卡片个人简介-----*/
.mancard{
  float:right;
  display:block;
  width:20%;
  margin-top:10%;
  height:auto;
  margin-right:5%;
  margin-bottom:15px;
  background-color:rgba(0,191,255,0.3);
}
.mancard h2{
  margin-top:25px;
  display:block;
  color:DeepSkyBlue;
  text-align:center;
}
.mancard p{
  display:block;
  margin-bottom:25px;
  color:White
}

/*----正文内容----*/
.test{
  margin-top:50px;
  display:block;
  padding:0;
  background-color:rgba(0,191,255,0.3);
  width:60%;
  margin-left:10%;
  border-color:DeepSkyBlue;
  border-style:solid;
  border-width:1px;
}
.test h1{
  text-align:center;
  color:DeepSkyBlue;
}
.test p{
  color:white;
}

/*----底栏----*/
.ft{
  display:block;
  text-align:center;
  color:White;
  bottom:0px;
}
