/*------header-------*/
#nav{
  margin:0 auto;
  width:100%;
  height:200px;
}

#nav ul{
  margin:0;
  padding:0;
  width:100%;
  list-style:none;
}

#nav li{
  margin-left:0;
  float:left;
  width:50%;
  height:110px;
  display:inline-block;
}

#nav h1{
  margin-top:0;
  width:100%;
  color:DeepSkyBlue;
  font-size:100px;
  margin-left:0;
}

#nav button{
  display:block;
  background-color:rgba(0,191,255,0.7);
  color:White;
  width:20%;
  margin-top:14px;
  height:110px;
  font-size:35px;
  margin-left:80%;
}


/*------nav导航栏--------*/
#navbtn{
  margin:0;
  padding:0;
  width:80%;
  margin-left:5%;
  display:none;
  text-align:center;
  position:relative;
}

.type{
  width:100%;
  margin-left:0;
  color:White;
  font-size:25px;
}

#navbtn a{
  display:block;
  text-align:center;
  text-decoration:none;
  margin:0;
  font-size:45px;
  color:White;
}


#navbtn ul{
  width:100%;
  list-style-type:none;
}

#navbtn li{
  width:80%;
  display:inline-block;
  background-color:DeepSkyBlue;
  opacity:0.7;
  border-style:solid;
  border-color:Black;
}

/*------卡片个人简介--------*/
.mancard{
  display:none;
}
/*-----正文内容-------*/
.test{
  margin-top:50px;
  display:block;
  padding:0;
  background-color:rgba(0,191,255,0.3);
  width:90%;
  margin-left:5%;
  border-color:DeepSkyBlue;
  border-style:solid;
  border-width:1px;
}
.test h1{
  text-align:center;
  color:DeepSkyBlue;
}
.test p{
  color:white;
}
/*----底栏----*/
.ft p{
  display:block;
  text-align:center;
  font-size:25px;
  color:White;
}
